<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spring Promo 2024</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="stylesheet" href="../stylesheets/variables.css">
        <title>Spring Promotion</title>
    </head>
    <body
    id="root"
    style="
      max-height: 100vh;
      max-width: 100vh;
      overflow: hidden;
      /* position: relative; */
    ">
    <div
      class="container"
      style="
        width: 100vw;
        height: 100vh;
        color: white;
        overflow: hidden;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      "
    >

    <div
    id="customDialog"
    style="
      height: 100vh;
      display: flex;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 40;
      position: absolute;
      top: 0;
      left: 0;
      gap: 30px;
      justify-content: center;
      align-items: center;
    ">
     <div
     style="
       /* height: auto; */
       /* width: auto; */
       background-image: url('../images/BOX_01.png');
       background-size: cover;
       background-position: center center;  
       background-repeat: no-repeat;
       border-radius: 30px;
       backdrop-filter: blur(5px);
       /* margin-top: 10vh; */
       display: flex;
       color: white;
       justify-content: center;
       align-items: center;
       padding: 3rem;
     "
   >
     <div
       style="
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 1rem;
       "
     >
       <div
         style="
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           text-align: center;
           font-size: 1.2 rem /* 30px */;
           font-weight: 600;

           /* width: 4rem; */
 
         "
       >
         <img
           src="../images/gifts/DUALIPA_01.png"
           alt=""
           style="
             height: 250px;
             /* position:absolute; */
             /* width: 8rem; */
             object-fit: contain;
             border-radius: 20px;
           "
         />
         <h2>
          <span style="font-weight: bolder;"> Dua Lipa Radical Optimism Tour Singapoure</span>
            <br>
            <span style="font-size: medium;">
              тоглолт үзэх аяллын эрхийн бичиг
            </span>
        </h2>
        
       </div>
 
       <div
         style="
           display: flex;
           justify-content: center;
           gap: 1rem;
           text-align:center;
           margin-top:1rem;
           margin-bottom:1rem;
           align-items: center;
           font-size: 1 rem /* 30px */;
             font-weight: 600;
         "
       >
      <div style="background-color: #f0bd1f; border-radius: 50%; padding: 10px; width: 40px; height: 40px; font-size: xx-large; font-weight: 900;">
          -
      </div>  
      <div style="background-color: #fff; border-radius: 10%; padding: 10px; width: 80px; height: 40px; font-size: xx-large; font-weight: 900; color: #000; overflow: hidden;">  
        100
    </div>  

      <div style="background-color: #f0bd1f; border-radius: 50%; padding: 10px; width: 40px; height: 40px; font-size: xx-large; font-weight: 900;">
        +
    </div>
      
       </div>
 
       <div
         style="
           display: flex;
           justify-content: center;
           gap: 2rem;
           align-items: center;
         "
       >
         <div
           style="
             padding-left: 4rem;
             text-align: center;
             /* width: 40%; */
             border-radius: 20px;
             padding-right: 4rem;
             padding-top: 0.75rem /* 12px */;
             padding-bottom: 0.75rem /* 12px */;
             background-color: #f0bd1f;
             font-size: 1.5rem /* 30px */;
             font-weight: 1000;
             color: white;  
           "
         >
           ХҮСЭЛТ ИЛГЭЭХ
         </div>
       </div>
     </div>
   </div>
  

            </div>
          </div>
        <!-- <script src="../javascripts/index.js"></script> -->
        
    </body>
</html>