<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spring Promo 2024</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="stylesheet" href="../stylesheets/variables.css">
        <title>Spring Promotion</title>
    </head>
    <body
    id="root"
    style="
      max-height: 100vh;
      max-width: 100vw;
      overflow: hidden;
      /* position: relative; */
    ">
    <div
      class="container"
      style="
        width: 100vw;
        height: 100vh;
        color: white;
        overflow: hidden;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      "
    >

    <div
    id="customDialog"
    style="
      height: 100vh;
      display: flex;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 40;
      position: absolute;
      top: 0;
      left: 0;
      gap: 30px;
      justify-content: center;
      align-items: center;
    ">
     <div
     style="
       background-color: #00003f;
       /* background-image: url('../images/BOX_01.png'); */
       /* background-size: cover; */
       /* background-position: center center;   */
       /* background-repeat: no-repeat; */
       border-radius: 30px;
       backdrop-filter: blur(5px);
       /* margin-top: 10vh; */
       display: flex;
       color: white;
       justify-content: center;
       align-items: center;
       padding: 3rem;
       width: 30%;
     "
   >
     <div
       style="
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         gap: 1rem;
       "
     >
     
       <div
         style="
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           font-size: 0.6rem /* 30px */;
           font-weight: 600;
           

           /* width: 4rem; */
 
         "
       >
       <h2 style="margin-top: 0;">
        <span id="name" style="font-weight: bolder; font-size: large;"> 
        </span>
      </h2>
         <img
            id="img"
           src=""
           alt=""
           style="
             height: 250px;
             /* position:absolute; */
             /* width: 8rem; */
             object-fit: contain;
             border-radius: 20px;
           "
         />
         <h2>
            <span id="descriptionText" style="font-size: large;">
            </span>
        </h2>
        
       </div>
 
       <div
         style="
           display: flex;
           justify-content: center;
           gap: 1rem;
           text-align:center;
           /* margin-top:1rem; */
           /* margin-bottom:1rem; */
           align-items: center;
           font-size: 1 rem /* 30px */;
           font-weight: 600;
           width: 100%;
           color:#000;
         "
       >
       <div id="couponText" style = "background-color: #fff; border-radius: var(--iconBorderRadius); padding: 10px; width: 100%;">
        <h1 id="up" style='margin:0; transform:rotate(90deg); font-weight: bold;'> < </h1>
         <div id="number" style="overflow: hidden; min-height: 40px; max-height: 150px;">
        </div>
        <h1 id="down" style='margin:0; transform:rotate(90deg); font-weight: bold;'> > </h1>  
      </div>
       </div>
     
       <h2>
        <span id="descriptionAlert" style="font-size: large;">
        </span>
        </h2>
     
      </div>
   </div>
            </div>
          </div>
        <script src="../javascripts/giftDetail.js"></script>
    </body>
</html>