<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spring Promo 2024</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="stylesheet" href="../stylesheets/variables.css">
        <title>Spring Promotion</title>
    </head>
    <body
    id="root"
    style="
      max-height: 100vh;
      max-width: 100vh;
      overflow: hidden;
      /* position: relative; */
    ">
    <div
      class="container"
      style="
        width: 100vw;
        height: 100vh;
        color: white;
        overflow: hidden;
        /* position: absolute; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      "
    >
    <div
         style="
         display: flex;
         flex-direction: column;
         width: 100%;
         margin: 40px 25% 40px 25%;
         padding: 40px;
         border-radius: var(--borderRadius);
         background-color: rgba(22, 21, 21, 0.5);
         /* justify-content: center; */
         align-items: center;
         overflow: hidden;
    
  
    ">
   <img src="../images/TITLE_03.png" 
        style="display: block;
        height: 50px;
        width: 60%; ">

    </img>
    <div style="display: flex; margin-top: 10px; font-weight: 900; text-align: center; width: 100%; font-size: x-large;">
        <div id="superGift" style="border-radius: var(--iconBorderRadius); background-color: rgba(134, 130, 130, 0.5); padding: 5px 40px 5px 40px; width: 100%; margin-right: 5px;">
        Тохирлын эрхүүд
        </div>
        <div id="voucher" style="border-radius: var(--iconBorderRadius); background-color: rgba(134, 130, 130, 0.5); padding: 5px 40px 5px 40px; width: 100%;">
        Эрхийн бичгүүд
        </div>
    </div>
    <div id="giftContainer">
       
        </div>
    </div>
</div>
        <script src="../javascripts/gifts.js"></script>
    </body>
</html>