/* @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap'); */
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: 'Mulish', serif;
  font-size: 14px;

}

a {
  color: #00B7FF;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
  margin: 0;
  background: linear-gradient(290deg, #1CB5E0 0%, #060469 100%);
  background-size: 400% 400%;
  /* height: 100vh; */
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  /* margin: 0 40px; */
  overflow: hidden;
}

.card {
  margin: 10px;

}